@import '../scss/root/index';

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.full-app-container
{
    // background-color: rgb(203, 203, 203);
    color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
}